//
// General configuration options
//

process {    
    withLabel:publish {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withLabel:sentieon {
        containerOptions = "-e SENTIEON_LICENSE=${params.sentieon_license} -e SENTIEON_AUTH_MECH=${params.sentieon_auth_mech} -e SENTIEON_AUTH_DATA=${params.sentieon_auth_data} -v ${params.database}/sentieon:/database/sentieon"
    }
} 


process {
    withName: 'FILTER_BAM' {
        ext.prefix = { "${params.sample_id}.filtered" }
        container = "${params.docker_registry}/ubuntu-fastq-naf:22.04-java11.0.22-perl5.34.0"
    }

    withName: 'REALIGNED_BAM' {
        ext.prefix = { "${params.sample_id}.realigned" }
        container = "${params.docker_registry}/py-annotate:22.04"
    }

    withName: 'HAPLOTYPE_CALLER' {
        ext.prefix = { "${params.sample_id}.hap" }
        container = "${params.docker_registry}/ubuntu-fastq-naf:22.04-java11.0.22-perl5.34.0"
    }

    withName: 'GENOTYPING' {
        ext.prefix = { "${params.sample_id}.gt" }
        container = "${params.docker_registry}/ubuntu-fastq-naf:22.04-java11.0.22-perl5.34.0"
    }

    withName: 'HARD_FILTERING' {
        ext.prefix = { "${params.sample_id}.filtered" }
        container = "${params.docker_registry}/ubuntu-fastq-naf:22.04-java11.0.22-perl5.34.0"
    }

    withName: 'CAUSAL_DETECTION' {
        ext.prefix = { "${params.sample_id}.causal" }
        container = "${params.docker_registry}/ubuntu-ngs4thal:22.04"
    }

    withName: 'BREAKDANCER' {
        ext.prefix = { "${params.sample_id}.bd" }
        container = "${params.docker_registry}/ubuntu-ngs4thal:22.04"
    }

    withName: 'PINDEL' {
        ext.prefix = { "${params.sample_id}.pd" }
        container = "${params.docker_registry}/ubuntu-ngs4thal:22.04"
    }

    withName: 'CONIFER' {
        ext.prefix = { "${params.sample_id}.cf" }
        container = "${params.docker_registry}/ubuntu-ngs4thal:22.04"
    }
}